body {
  width: 100%;
  margin: auto;
}
body a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#header_main {
  padding-top: 10px;
  margin-bottom: 3px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
#header_main h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3em;
  text-align: center;
  margin: 0px;
}

#section1_main {
  background-color: #F5F5F5;
  padding-bottom: 50px;
}
#section1_main form {
  text-align: center;
  background-color: #E6E6E6;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
#section1_main form #search {
  margin-left: auto;
  margin-right: auto;
}
#section1_main form #search input {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #E6E6E6;
  border: #E5E5E5;
  width: 10rem;
  text-align: center;
}
#section1_main form #search i {
  font-size: 1.1em;
}
#section1_main form #search ::placeholder {
  color: black;
}
#section1_main h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
#section1_main p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin-left: 5%;
  margin-right: 5%;
}
#section1_main button {
  width: 70%;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  padding: 10px 2% 10px 2%;
  color: white;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#section2_main {
  padding-left: 7%;
  padding-right: 7%;
  font-family: "Roboto", sans-serif;
}
#section2_main h2 {
  font-size: 1.6em;
}
#section2_main div {
  margin-left: 3%;
}
#section2_main div p {
  border-radius: 20px;
  background-color: #F5F5F5;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#section2_main div p:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
#section2_main div p:hover i {
  color: #9356DC;
}
#section2_main div p .number {
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  color: white;
  margin-left: -10px;
  margin-right: 10px;
}
#section2_main div p i {
  margin-right: 2%;
  color: #747474;
}
#section2_main div p #mobile {
  margin-right: 0.4rem;
}

#section3_main {
  background-color: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
}
#section3_main h2 {
  font-size: 1.6em;
}
#section3_main article {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}
#section3_main article .icon {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
#section3_main article img {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
#section3_main article .new {
  background-color: #99E2D0;
  padding: 5px 5px 5px 5px;
  width: 5rem;
  color: #198653;
  position: absolute;
  top: -5px;
  right: 10px;
}
#section3_main article h3 {
  font-size: 1.3em;
  margin-top: 15px;
  margin-bottom: 0px;
}
#section3_main article p {
  font-size: 1.2em;
}
#section3_main article .map {
  margin-top: 5px;
  margin-bottom: 15px;
}
#section3_main article i {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 1.2em;
}

footer {
  background-color: #242424;
  color: white;
  padding-top: 15px;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 15px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
}
footer a {
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
}
footer nav ul {
  padding-left: 0px;
}
footer nav ul li {
  list-style-type: none;
  font-size: 1.2em;
}
footer nav ul li i {
  margin-right: 0.5rem;
}
footer nav ul li span {
  margin-right: 0.5rem;
}

#header_other {
  height: 80px;
}
#header_other div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 18%;
}
#header_other div i {
  color: black;
}
#header_other div h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.3em;
}

#section1_other {
  position: relative;
}
#section1_other img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#section1_other div {
  width: 86%;
  display: flex;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #F5F5F5;
  border-radius: 20px 20px 0px 0px;
  margin-top: -30px;
  position: absolute;
  top: 260px;
}
#section1_other div h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}
#section1_other div i {
  margin-left: auto;
  font-size: 1.2em;
}

#section2_other {
  background-color: #F5F5F5;
  margin-top: -15px;
  font-family: "Roboto", sans-serif;
  padding-left: 7%;
  padding-right: 7%;
}
#section2_other h3 {
  font-weight: normal;
  border-bottom: 3px solid #99E2D0;
  width: 3rem;
}

/*# sourceMappingURL=style.css.map */
