$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bckg-color: #F5F5F5;
$bckg-heart: linear-gradient(to top left, $color-secondary, $color-primary);

$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;

$size-h1: 2.3em;
$size-h2: 1.6em;
$size-h3: 1.3em;
$size-p: 1.2em;
$size-article: 1.1em;

$shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

%button-base {
    font-family: $font-text;
    font-size: $size-p;
    border: none;
    border-radius: 50px;
    padding: 10px 2% 10px 2%;
    color: white;
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);
    box-shadow: $shadow;
    cursor: pointer;
}

@mixin button_1 {
    @extend %button-base;
    width: 70%;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

@mixin button_2 {
   @extend %button-base;
    width: 60%;
    margin: 20px 20% 30px 20%;
}

body {
    width: 100%;
    margin: auto;
    a {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
}

#header_main {
    padding-top: 10px;
    margin-bottom: 3px;
    box-shadow: $shadow;
    h1 {
        font-family: $font-title;
        font-size: $size-h1;
        text-align: center;
        margin: 0px;
    }
}

#header_other {
    height: 80px;
    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 18.7rem; 
        i {
            color: black;
        }
        h1 {
            font-family: $font-title;
            font-size: $size-h1;
        }
    }
}

#section1_main {
    background-color: $bckg-color;
    padding-bottom: 50px;
    form {
        text-align: center;
        background-color: #E6E6E6;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        #search {
            margin-left: auto;
            margin-right: auto;
            input {
                font-family: $font-text;
                font-size: $size-h3;
                font-weight: bold;
                background-color: #E6E6E6;
                border: #E5E5E5;
                width: 10rem;
                text-align: center;
            }
            i {
                font-size: 1.1em;
            }
            ::placeholder {
                color: black;
            }
        }
    }
    h2 {
        font-family: $font-text;
        font-size: $size-h2;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    p {
        text-align: center;
        font-family: $font-text;
        font-size: $size-p;
        margin-left: 5%;
        margin-right: 5%;
    }
    button {
        @include button_1;  
    }
}

#section1_other {
    position: relative;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    div {
        width: 86%;
        display: flex;
        align-items: center;
        padding-left: 7%;
        padding-right: 7%;
        background-color: $bckg-color;
        border-radius: 20px 20px 0px 0px;
        margin-top: -30px;
        position: absolute;
        top: 260px;
        h2 {
            font-family: $font-title;
            font-size: $size-h2;
        }
        i {
            margin-left: auto;
            font-size: $size-p;
        }
    }
}

#section2_main {
    padding-left: 7%;
    padding-right: 7%;
    font-family: $font-text;
    h2 {
        font-size: $size-h2;
    }
    div {
        margin-left: 3%;
        p {
            border-radius: 20px;
            background-color: $bckg-color;
            padding-top: 25px;
            padding-bottom: 25px;
            font-weight: bold;
            box-shadow: $shadow;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                background-color: rgba(147,86,220,0.1);
                i {
                    color: $color-primary;
                }
            }
            .number {
                border-radius: 50px;
                padding: 5px 10px 5px 10px;
                background-color: $color-primary;
                color: white;
                margin-left: -10px;
                margin-right: 10px;
            }
            i {
                margin-right: 2%;
                color: #747474;
            }
            #mobile {
                margin-right: 0.4rem;
            }
        }
    }
}

#section3_main {
    background-color: $bckg-color;
    padding: 20px 7% 50px 7%;
    margin-top: 60px;
    font-family: $font-text;
    h2 {
        font-size: $size-h2;
    }
    article {
        border-radius: 20px;
        background-color: white;
        box-shadow: $shadow;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
        .icon {
            display: flex;
            padding-left: 5%;
            padding-right: 5%;
        }
        img {
            height: 180px;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
        }
        .new {
            background-color: $color-tertiary;
            padding: 5px 5px 5px 5px;
            width: 5rem;
            color: rgb(25, 134, 83);
            position: absolute;
            top: -5px;
            right: 10px;
        }
        h3 {
            font-size: $size-h3;
            margin-top: 15px;
            margin-bottom: 0px;
        }
        p {
            font-size: $size-p;
        }
        .map {
            margin-top: 5px;
            margin-bottom: 15px;
        }
        i {
            display: flex;
            align-items: center;
            margin-left: auto;
            font-size: $size-p;
        }
    }
}

#section2_other, #section3_other {
    background-color: $bckg-color;
    margin-top: -20px;
    font-family: $font-text;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 10px;
    h3 {
        font-weight: normal;
        border-bottom: 3px solid $color-tertiary;
        width: 3rem;
        padding-top: 10px;
    }
    article {
        background-color: white;
        border-radius: 20px;
        padding-top: 10px;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-bottom: 15px;
        box-shadow: $shadow;
        h4 {
            font-size: $size-article;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        div {
            display: flex;
            align-items: center;
            p {
                font-size: $size-article;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 3%;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            span {
                margin-left: auto;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: $size-article;
            }
        }
    }
}

#section4_other {
    @extend #section2_other;
    button {
        @include button_2;
    }
}

footer {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 15px 7% 15px 7%;
    margin-top: 0px;
    font-family: $font-text;
    a {
        color: white;
    }
    h3 {
        font-family: $font-title;
        font-size: $size-h3;
    }
    nav {
        ul {
            padding-left: 0px;
            li {
                list-style-type: none;
                font-size: $size-p;
                i {
                    margin-right: 0.5rem;
                }
                span {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}